<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Area</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header class="ion-text-center">
    <ion-buttons slot="end">
      <ion-button [routerLink]="'/home'" routerDirection="root">Home</ion-button>
      <ion-button [routerLink]="'/length'" routerDirection="root">Length</ion-button>
      <ion-button [routerLink]="'/temperature'" routerDirection="root">Temperature</ion-button>
      <ion-button [routerLink]="'/area'" routerDirection="root">Area</ion-button>
      <ion-button [routerLink]="'/volume'" routerDirection="root">Volume</ion-button>
      <ion-button [routerLink]="'/weight'" routerDirection="root">Weight</ion-button>
    </ion-buttons>
  </ion-header>

  <div class="conversion-container">

    <ion-item>
      <ion-label position="stacked">Enter the value</ion-label>
      <ion-input [disabled]="isTextAreaDisabled" [(ngModel)]="inputValue" type="number" id="input1"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Select input unit</ion-label>
      <ion-select [(ngModel)]="selectedInputUnit" id="inputU">
        <ion-select-option value="square-meter">Square Meter</ion-select-option>
        <ion-select-option value="square-kilometer">Square Kilometer</ion-select-option>
        <ion-select-option value="square-centimeter">Square Centimeter</ion-select-option>
        <ion-select-option value="square-mile">Square Mile</ion-select-option>
        <ion-select-option value="square-yard">Square Yard</ion-select-option>
        <ion-select-option value="square-foot">Square Foot</ion-select-option>
        <ion-select-option value="square-inch">Square Inch</ion-select-option>
        <ion-select-option value="hectare">Hectare</ion-select-option>
        <ion-select-option value="acre">Acre</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Select output unit</ion-label>
      <ion-select [(ngModel)]="selectedOutputUnit" id="inputO">
        <ion-select-option value="square-meter">Square Meter</ion-select-option>
        <ion-select-option value="square-kilometer">Square Kilometer</ion-select-option>
        <ion-select-option value="square-centimeter">Square Centimeter</ion-select-option>
        <ion-select-option value="square-mile">Square Mile</ion-select-option>
        <ion-select-option value="square-yard">Square Yard</ion-select-option>
        <ion-select-option value="square-foot">Square Foot</ion-select-option>
        <ion-select-option value="square-inch">Square Inch</ion-select-option>
        <ion-select-option value="hectare">Hectare</ion-select-option>
        <ion-select-option value="acre">Acre</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="full" color="primary" (click)="convert1()">Convert</ion-button>
    <ion-button expand="full" (click)="clearTextarea()">Clear</ion-button>
  </div>

  <div class="result" *ngIf="convertedValue !== null">
    <p>{{ inputValue }} {{ selectedInputUnit }} is equal to {{ convertedValue }} {{ selectedOutputUnit }}</p>
  </div>
</ion-content>